<!DOCTYPE HTML>

<html>
	<head>
		<title>CardioPredict</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="static/images/heart.png" alt="" /></span>
					<h1 id="logo"><a href="#">CardioPredict</a></h1>
					<p>AI-driven care for a healthier heart<br />
					Predicting tomorrow's health, today.</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="" class="active">Register</a></li>
						<li><a href="/">Home</a></li>
						<li><a href="/">Features</a></li>
						<li><a href="/signin">Sign In</a></li>
					</ul>
				</nav>
            </section>
            <div id="wrapper">

				<!-- Main -->
					<div id="main">
    						<!-- Four -->
							<section id="register">
    <div class="container">
        <h3>Register</h3>
        <p>Please fill out the form below to create an account.</p>
        <form method="post" action="/register">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="first_name" id="first_name" placeholder="First Name" required />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="last_name" id="last_name" placeholder="Last Name" required />
                </div>
                <div class="col-12">
                    <input type="email" name="email" id="email" placeholder="Email" required />
                </div>
                <div class="col-12">
                    <input type="password" name="password" id="password" placeholder="Password" required />
                </div>
                <div class="col-12">
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required />
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" class="primary" value="Register" /></li>
                        <li><input type="reset" value="Reset Form" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>

					</div>
			</div>